@import url('../App.css');

:root {
    --background-color : gray;
    --title-size : 2.5rem;
    --default-text-color : #000;
    --change-text-color : #fff;
}

.header {
    font-size: var(--title-size);
    background: var(--background-color);
}

.header nav, .header .menus {
    height: 100%;
}

.header .menus{
    display: flex;
    align-items: center;
}

.header .menus > li{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    background: var(--background-color);
}

.header .menus > li > a {
    font-weight: 700;
    transition: all .3s linear;
}

/* 카테고리 hover시 text */
.header .menus > li:hover > a {
    z-index: 99;
    transform: scale(1.2);
    color: var(--change-text-color);
}

.header .menus a {
    display: inline-block;
    color: var(--default-text-color);
}

.header .menus .subMenus {
    position: absolute;
    top: calc(var(--header-height) - 2px); /*41px  @@import 해온--header-height*/
    height: 0;
    overflow: hidden;
    transition: all .3s linear;
    z-index: 99999;
}

.header .menus > li .subMenus > li{  
    padding: 0px 10px 10px 10px;
    font-size: 1.5rem;
    background: var(--background-color);
    cursor: pointer;
}

/* 카테고리 hover시 메뉴리스트 */
.header .menus > li:hover .subMenus {
    overflow: none;
    height: 50vh;
}

.subMenus > li:hover {
    color: var(--change-text-color);
}